@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-button{
transform: scale(1.2);
}
::selection {
  background: black;
  color: white;
}
*{
    animation: 250ms all;
}
*:hover{
    animation: 250ms all;
}
